<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://maycur.com/mobile/plugins/1.0"
        id="maycur-plugin-in-app-browser" version="1.0.0">
    <name>In App Browser</name>
    <description>Maycur In App Browser Plugin</description>
    <license>Maycur</license>
    <keywords>maycur,browser</keywords>

    <js-module src="www/Browser.js" name="Browser">
            <clobbers target="maycur.browser" />
    </js-module>

    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="Browser">
                <param name="ios-package" value="MCBrowser"/>
            </feature>
        </config-file>

        <header-file src="src/ios/MCBrowser.h" />
        <source-file src="src/ios/MCBrowser.m" />
        <header-file src="src/ios/MCBrowserController.h" />
        <source-file src="src/ios/MCBrowserController.m" />
        <header-file src="src/ios/MCBrowserView.h" />
        <source-file src="src/ios/MCBrowserView.m" />
        <header-file src="src/ios/MCBrowserNavController.h" />
        <source-file src="src/ios/MCBrowserNavController.m" />

        <framework src="WebKit.framework" weak="true" />
    </platform>

    <platform name="android">
        <config-file target="config.xml" parent="/*">
            <feature name="Browser">
                <param name="android-package" value="com.maycur.plugin.InAppBrowser"/>
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <activity android:name="com.maycur.plugin.InAppBrowserActivity" android:theme="@android:style/Theme.DeviceDefault.Light.DarkActionBar" />
        </config-file>
        <framework src="com.android.support:appcompat-v7:21+" />

        <source-file src="src/android/InAppBrowser.java" target-dir="src/com/maycur/plugin" />
        <source-file src="src/android/InAppBrowserActivity.java" target-dir="src/com/maycur/plugin" />
        <source-file src="src/android/activity_in_app_browser.xml" target-dir="res/layout" />
    </platform>
</plugin>